::-webkit-scrollbar {
    display: none;
}

body {
    background: linear-gradient(#e66465, #9198e5);
}

.intro {
    padding: 2em;
}

.row {

    .col {

        margin: 1em;
        padding: 1em;

        border: 5px solid gainsboro;
        border-radius: 2em;

        background-color: azure;

        h3 {
            margin: 1em;
            text-align: center;
        }

        a {
            // Remove link styling from the project title
            color: inherit;
            text-decoration: inherit;
        }

        img {
            border-radius: 2em;
            width: 100%;
            padding: 0.5em;
            filter: drop-shadow(0.5em 0.5em 0.5em #111);
        }
    }
}